# Compiled object files
*.o
*.ko
*.obj
*.elf

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
bin/

# IDE files
.vscode/
.vs
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcproj
*.vcproj.*.user

# Dependency files
*.d
*.d.*

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
